@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --body-text-medium-medium: Inter;
    --font-poppins: Poppins;

    /* font sizes */
    --body-text-medium-medium-size: 14px;
    --font-size-base: 16px;
    --font-size-xs: 12px;
    --font-size-3xs: 10px;

    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-dimgray: #5e5151;
    --color-gainsboro: #d9d9d9;

    /* Border radiuses */
    --br-5xl: 24px;
    --br-5xs: 8px;
}

/* newone  */
.farmer-profile {
    margin: 0;
}

.follow-the-steps {
    margin: 0;
    font-size: 14px;
}

.farmer-profile-follow-the-container {
    position: absolute;
    top: 165px;
    left: 100px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 600;
    color: #101010;
    font-size: 32px;
}

.contact-and-location-info-des-child {
    position: absolute;
    top: 66.5px;
    left: -0.5px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 1281px;
    height: 1px;
}

.logo {
    left: 28px;
    font-size: 24px;
    text-align: center;
}

.agriculture-information,
.logo,
.of-2,
.personal-information {
    position: absolute;
    top: 22px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 600;
}

.personal-information {
    left: 119px;
    color: #25cc88;
}

.agriculture-information,
.of-2 {
    left: 342px;
}

.of-2 {
    top: 171px;
    left: 1136px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 16px;
}

.instance-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 24px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.next-step {
    position: absolute;
    top: 14px;
    left: 41px;
    letter-spacing: -0.02em;
    line-height: 20px;
    font-weight: 500;
}

.vector-parent {
    position: absolute;
    top: 721px;
    left: 1021px;
    width: 144px;
    height: 48px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    font-family: Inter;
}

.error,
.label,
.prev {
    position: absolute;
    letter-spacing: -0.02em;
}

.prev {
    top: 735px;
    left: 926px;
    line-height: 20px;
    font-weight: 500;
    font-family: Inter;
    cursor: pointer;
}

.error,
.label {
    top: 74.51%;
    left: 3.91%;
    line-height: 26px;
    font-weight: 600;
    display: none;
}

.label {
    height: 25.49%;
    width: 49.13%;
    top: 0;
    left: 0.87%;
    color: #a2a2a2;
    text-align: left;
    display: inline-block;
}

.input-fieldtype1-child {
    position: absolute;
    height: 49.02%;
    width: 100%;
    top: 25.49%;
    right: 0;
    bottom: 25.49%;
    left: 0;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
}

.mail-outline-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}

.rakigmailcom {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 26px;
    border: none;
}

.mail-outline-parent {
    position: absolute;
    top: calc(50% - 14px);
    left: 20px;
    width: 166px;
    height: 26px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 12px;
    font-size: 14px;
    color: #949494;
    font-family: Inter;
}

.add-icon {
    position: absolute;
    top: calc(50% - 12px);
    right: 13px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: none;
}

.input-fieldtype1-item {
    position: absolute;
    height: calc(100% - 51px);
    top: 25.5px;
    right: 45.5px;
    bottom: 25.5px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    display: none;
}

.input-fieldtype1,
.input-fieldtype11,
.input-fieldtype12 {
    position: absolute;
    top: 282px;
    left: 100px;
    width: 345px;
    height: 102px;
    text-align: center;
    font-size: 12px;
    color: #d50000;
}

.input-fieldtype11,
.input-fieldtype12 {
    left: 505px;
}

.input-fieldtype12 {
    top: 377px;
    left: 100px;
}

.contact-information,
.location-information {
    position: absolute;
    top: 246px;
    left: 100px;
    font-weight: 600;
    font-family: "Noto Sans";
}

.location-information {
    top: 485px;
}

.dropdown-title {
    align-self: stretch;
    position: relative;
    line-height: 18px;
    font-weight: 600;
}

.dropdown-option {
    flex: 1;
    position: relative;
    line-height: 24px;
}

.input-field,
.text {
    align-self: stretch;
    display: flex;
}

.text {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.input-field {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 46px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 16px;
}

.dropdownmedium,
.dropdownmedium1,
.dropdownmedium2 {
    position: absolute;
    top: 530px;
    left: 100px;
    width: 345px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 12px;
    color: #666;
    font-family: "Noto Sans";
}

.dropdownmedium1,
.dropdownmedium2 {
    left: 505px;
}

.dropdownmedium2 {
    top: 622px;
    left: 100px;
}
.pin{
    border:none;
}

.pincode {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 20px;
    font-weight: 500;
    border:none;
}

.input-field3,
.inputs-dropdowns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-field3 {
    width: 90px;
    border-radius: 8px;
    background-color: #f9fafb;
    border: 1px solid #d2d5da;
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    flex-shrink: 0;
    justify-content: center;
    padding: 0 12px;
    font-size: 16px;
}

.inputs-dropdowns {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: flex-start;
    gap: 10px;
}

.inputs-dropdowns-wrapper {
    position: absolute;
    top: 615px;
    left: 505px;
    width: 90px;
    height: 80px;
    font-size: 14px;
    color: #6d7280;
    font-family: Inter;
}

.right-arrow-icon {
    position: absolute;
    top: 28px;
    left: 319px;
    width: 12px;
    height: 12px;
    object-fit: cover;
}

.contact-and-location-info-des {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 832px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Poppins;
}


/* new-one */


.right-arrow-icon16 {
    position: absolute;
    top: 28px;
    left: 319px;
    width: 12px;
    height: 12px;
    object-fit: cover;
}

.sizesgroup-18-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d9d9d9;
}

.div33 {
    position: absolute;
    top: 26%;
    left: 39.23%;
    letter-spacing: -0.02em;
    line-height: 24px;
    font-weight: 600;
}

.sizesgroup-181 {
    position: absolute;
    top: 303px;
    left: 1287px;
    width: 130px;
    height: 50px;
    text-align: center;
    font-size: 16px;
}

.crop-type,
.error16 {
    position: absolute;
    font-weight: 600;
}

.crop-type {
    top: 385px;
    left: 103px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: center;
}

.error16 {
    top: 74.51%;
    left: 3.91%;
    letter-spacing: -0.02em;
    line-height: 26px;
    display: none;
}

.primary-crop {
    margin-block-start: 0;
    margin-block-end: 16px;
}

.label8 {
    position: absolute;
    height: 25.49%;
    width: 49.13%;
    top: 0;
    left: 0.87%;
    letter-spacing: -0.02em;
    line-height: 26px;
    font-weight: 600;
    color: #a2a2a2;
    text-align: left;
    display: inline-block;
}

.input-fieldtype1-child13 {
    position: absolute;
    height: 49.02%;
    width: 100%;
    top: 25.49%;
    right: 0;
    bottom: 25.49%;
    left: 0;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
}

.mail-outline-icon4 {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}

.rakigmailcom8 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 26px;
}

.mail-outline-parent2 {
    position: absolute;
    top: calc(50% - 14px);
    left: 20px;
    width: 166px;
    height: 26px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 12px;
    font-size: 14px;
    color: #949494;
    font-family: Inter;
}

.input-fieldtype1-child14 {
    position: absolute;
    height: calc(100% - 51px);
    top: 25.5px;
    right: 45.5px;
    bottom: 25.5px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
}

.input-fieldtype18 {
    position: absolute;
    top: 425px;
    left: 101px;
    width: 345px;
    height: 102px;
    text-align: center;
    color: #d50000;
}

.mail-outline-parent3 {
    position: absolute;
    top: calc(50% - 14px);
    left: 20px;
    width: 166px;
    height: 26px;
    display: none;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 12px;
    font-size: 14px;
    color: #949494;
    font-family: Inter;
}

.frame-child,
.input-fieldtype19 {
    position: absolute;
    border-radius: 8px;
}

.input-fieldtype19 {
    top: 421px;
    left: 506px;
    width: 345px;
    height: 102px;
    text-align: center;
    color: #d50000;
}

.frame-child {
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    width: 103px;
    height: 36px;
}

.paddy {
    position: absolute;
    width: calc(100% - 65px);
    top: calc(50% - 11px);
    left: 24px;
    letter-spacing: -0.02em;
    line-height: 26px;
    display: inline-block;
    height: 26px;
}

.plus-icon {
    position: absolute;
    height: 80.83%;
    width: 28.25%;
    top: 9.72%;
    right: 2.92%;
    bottom: 9.44%;
    left: 55.83%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}

.rectangle-parent23,
.rectangle-parent24 {
    position: absolute;
    height: 4.33%;
    width: 8.05%;
    top: 54.57%;
    right: 30.94%;
    bottom: 41.11%;
    left: calc(41.02% - 120px);
   
    overflow: hidden;
    font-family: Inter;
}

.rectangle-parent24 {
    right: 42.11%;
    left: 49.84%;
    transform: translateX(-145px);
}

.label10,
.start-month-of {
    position: absolute;
    letter-spacing: -0.02em;
    font-weight: 600;
}

.start-month-of {
    top: 269px;
    left: 101px;
    line-height: 20px;
    font-family: Inter;
}

.label10 {
    height: 25.49%;
    width: 49.13%;
    top: 0;
    left: 0.87%;
    line-height: 26px;
    color: #a2a2a2;
    text-align: left;
    display: none;
}

.date-range-icon {
    position: absolute;
    top: calc(50% - 12px);
    right: 13px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.cultivation,
.input-fieldtype110 {
    position: absolute;
    text-align: center;
}

.input-fieldtype110 {
    top: 269px;
    left: 100px;
    width: 345px;
    height: 102px;
    color: #d50000;
}

.cultivation {
    top: 238px;
    left: 101px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 600;
}

.pre-production-month {
    position: absolute;
    top: 263px;
    left: 505px;
    letter-spacing: -0.02em;
    line-height: 20px;
    font-weight: 600;
    font-family: Inter;
}

.input-fieldtype111 {
    position: absolute;
    top: 269px;
    left: 505px;
    width: 345px;
    height: 102px;
    text-align: center;
    color: #d50000;
    
}

.cultivation-and-crop-desktop {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 832px;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    color: #000;
    font-family: Poppins;
}



/* //new-one{} */
.investment1,
.storage-capacity {
    position: absolute;
    top: 231px;
    left: 104px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 600;
}

.storage-capacity {
    top: 485px;
    left: 103px;
}

.investment-and-storage-capacit-inner,
.investment-and-storage-capacit-item {
    position: absolute;
    top: 271px;
    left: 100px;
    border-radius: 8px;
    background-color: #d9d9d9;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 285px;
    height: 48px;
}

.investment-and-storage-capacit-inner {
    top: 528px;
}

.what-is-the,
.yearly-investment1 {
    position: absolute;
    top: 283px;
    left: 161px;
    letter-spacing: -0.02em;
    line-height: 24px;
    font-weight: 600;
}

.what-is-the {
    top: 540px;
    left: 121px;
}

.text-values-child18 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    background-color: #d9d9d9;
}

.check-circle-icon5,
.div24 {
    position: absolute;
    height: 24px;
}

.div24 {
    width: calc(100% - 134px);
    top: calc(50% - 12px);
    left: 48px;
    letter-spacing: -0.02em;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-circle-icon5 {
    top: 12px;
    left: 245px;
    width: 24px;
    overflow: hidden;
}

.text-values20 {
    position: absolute;
    top: 344px;
    left: 98px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    
    box-sizing: border-box;
    width: 347px;
    height: 52px;
}

.text-values21,
.text-values22,
.text-values23,
.text-values24 {
    position: absolute;
    top: 346px;
    left: 505px;
    width: 343px;
    height: 48px;
}

.text-values22,
.text-values23,
.text-values24 {
    top: 415px;
}

.text-values23,
.text-values24 {
    left: 100px;
}

.text-values24 {
    top: 670px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    
    box-sizing: border-box;
    width: 347px;
    height: 52px;
}

.text-values25,
.text-values26,
.text-values27 {
    position: absolute;
    top: 600px;
    left: 102px;
    width: 343px;
    height: 48px;
}

.text-values26,
.text-values27 {
    left: 505px;
}

.text-values27 {
    top: 672px;
}

.investment-and-storage-capacit {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 832px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #000;
    font-family: Poppins;
}

.error21,
.label13 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 26px;
  font-weight: 600;
}
.error21 {
  width: 35px;
  height: 0;
  display: none;
  z-index: 0;
}
.label13 {
  width: 169.5px;
  color: #a2a2a2;
  text-align: left;
  display: inline-block;
}
.rectangle-input {
  border: 1px solid #000;
  outline: 0;
  background-color: #fff;
  width: 100%;
  height: 50px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 25px);
  right: 0;
  left: 0;
  border-radius: 8px;
  box-sizing: border-box;
}
.mail-outline-icon9 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contact-or-phone-or-location-i {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
}
.rakigmailcom13 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 26px;
  display: inline-block;
  min-width: 101px;
  white-space: nowrap;
}
.contact-or-phone-or-location-i-parent,
.dropdown-medium-instance {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-or-phone-or-location-i-parent {
  padding: 0 29px 0 0;
  gap: 12px;
  z-index: 1;
}
.dropdown-medium-instance {
  padding: 0 17px;
  font-size: 14px;
  color: #949494;
  font-family: Inter;
}
.add-icon9 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 4;
}
.input-fieldtype1-child23 {
  width: 1px;
  height: 51px;
  position: relative;
  border-right: 1px solid #000;
  box-sizing: border-box;
  display: none;
  z-index: 5;
}
.input-fieldtype113 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px 39px;
  position: relative;
  gap: 11px;
  text-align: center;
  font-size: 12px;
  color: #d50000;
  font-family: Poppins;
}
/* new onr */
