.container {
    height: 100vh;
    /* Fill entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.section-dropdown {
    /* Ensure it doesn't overflow horizontally */
    overflow-x: hidden;
    /* Adjust width as needed */
    width: 100%;
    /* Other necessary styles */
}

.profile-card {
    border-radius: 20px;
    background-color: #252a40;
    display: flex;
    width: 100%;
    max-width: 300px;
    /* Remove max-width */
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 57px 34px;
}

.profile-image {
    aspect-ratio: 1.11;
    /* object-fit: cover; */
    width: 106px;
    border-radius: 50%;
    max-width: 100%;
   
}

.profile-info {
    display: flex;
    margin-top: 10px;
    width: 106px;
    max-width: 100%;
    flex-direction: column;
    /* padding: 0 7px; */
    white-space: nowrap;
    text-align: center;
    
}

.profile-name {
    color: #fcfcfc;
    font: 600 12px Open Sans, sans-serif;
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
   
}

.profile-title {
    color: #f5f5f5;
    font: 300 10px Inter, sans-serif;
    text-align: center;
    font-size: 15px;
}



.profile-nav {
    display: inline-block;
    margin-top: 53px;
    gap: 20px;
    font-size: 10px;
    color: #f5f5f5;
    font-weight: 400;
    justify-content: space-between;
    margin-top: 10px;
    white-space: nowrap;
}

.nav-item {
    font-family: Open Sans, sans-serif;
    margin-left: 50px;
    align-items: center;
    text-decoration: none;
    
}

.nav-item.active {
    color: green;
    font-family: Inter, sans-serif;
    font-weight: 500;
    margin-right: 0;
        /* Remove right margin to prevent overflow */
        margin-bottom: 10px;
}

.nav-item:active {
    color: green;
}

.about-section,
.contact-section {
    border-radius: 10px;
    background-color: #3d3f54;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #d9d9d9;
    font-weight: 400;
    padding: 33px 19px;

}

.section-title {
    color: rgba(255, 255, 255, 0.82);
    font: 700 11px Open Sans, sans-serif;
    font-size: 25px;
}

.about-text,
.contact-text {
    font-family: Open Sans, sans-serif;
    line-height: 14px;
    letter-spacing: 0.05px;
    margin-top: 10px;
}

.contact-section {
    margin-top: 20px;
    padding: 31px 57px 59px 18px;
}

.contact-item {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.contact-icon {
    aspect-ratio: 1;
    object-fit: contain;
    width: 15px;
    margin-bottom: 15px;
}

.contact-info {
    font-family: Open Sans, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
}
.section-dropdown{
    background-color:#252a40;
}


/* Media query for tablet devices */
@media only screen and (min-width: 768px) {

    


    .profile-card {
        max-width: 768px;
        padding: 57px;
        flex-direction: column;
        padding: 57px;
        position: relative;

    }

    .profile-nav {
        font-size: 12px;
        gap: 30px;
        margin-top: 0px;
    }

    .social-icon {
        width: 20px;
    }

    .profile-image {
        width: 150px;
        margin-right: 20px;
        position: absolute;
            left: 0;
            /* Position the image to the left */
            top: 30;
            /* Align the image to the top */
            margin-left: 120px;
            transform: translateY(-10%);
            /* Center vertically */
            width: 150px;
        
    }

    .profile-name {
        font-size: 30px;
    }

    .about-section,
    .contact-section {
        padding: 33px 35px;
        margin-top: 40px;
    }
        .profile-info {
            width: auto;
            /* */
            text-align: left;
            margin-left: 180px;
                /* Adjust margin to create space for the image */
                text-align: left;
                /* Align text to the left */
                max-width: calc(100% - 180px);
        }
}
@media only screen and (max-width: 768px){
    .profile-nav{
        margin-bottom:20px;
        margin-right: 48px;
    }
}


@media only screen and (max-width: 992px) and (min-width: 768px){
    .profile-nav{
        margin-left: 100px;
    }
}
/* Media query for desktop devices */
@media only screen and (min-width: 1024px) {
    .profile-card {
        max-width: 1024px;
        flex-direction: column;
        padding: 57px;

    }

    .profile-nav {
        font-size: 14px;
        gap: 40px;
        flex-direction: row;
    }

    .about-section,
    .contact-section {
        padding: 33px 50px;
        margin-top: 40px;
    }
}

@media only screen and (min-width: 568px) {
    .profile-card {
        max-width: 1024px;
        flex-direction: column;
        padding: 57px;

    }
    .profile-nav{
        align-items: center;
        justify-items: center;
    }



    .about-section,
    .contact-section {
        padding: 33px 50px;
        margin-top:40px ;
    }
}

/* Media query for small screen sizes */
@media only screen and (max-width: 457px) {
    .profile-nav {
        display: flex;
        flex-direction: row;
            /* Add bottom margin to create space between items */
            justify-content: center;
    }

        .nav-item {
            margin: 5px 0;
            /* Adjust margin to create space between items */
            justify-content: center;
        }
                .about-section,
                .contact-section {
                    padding: 33px 50px;
                    margin-top: 40px;
                }
        
}

@media only screen and (max-width: 357px) {
    .profile-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* Add bottom margin to create space between items */
        margin-bottom: 10px;
    }

    .nav-item {
        margin: 5px 10px;
        /* Adjust margin to create space between items */
        white-space: nowrap;
        /* Prevent text from wrapping */
    }

    .profile-name {
        font-size: 20px;
        /* Adjust font size to fit within the card */
    }
        .about-section,
        .contact-section {
            padding: 33px 50px;
            margin-top: 40px;
        }
}

@media only screen and (max-width: 300px) {
    .profile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Stack navigation items vertically */
        margin-top: 10px;
        /* Add top margin to create space */
    }

    .nav-item {
        margin: 5px 0;
        /* Adjust margin to create space between items */
        white-space: nowrap;
        /* Prevent text from wrapping */
    }

    .profile-name {
        font-size: 16px;
        /* Adjust font size to fit within the card */
    }
        .about-section,
        .contact-section {
            padding: 33px 50px;
            margin-top: 40px;
        }
}

@media only screen and (max-width: 270px) {
    .profile-nav {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        /* Add top margin to create space */
    }

    .nav-item {
        margin: 5px 0;
        white-space: wrap;
        /* Prevent text from wrapping */
    }

    .profile-name {
        font-size: 14px;
        /* Adjust font size to fit within the card */
    }
        .about-section,
        .contact-section {
            padding: 33px 50px;
            margin-top: 40px;
        }
}



/* For tablet devices */
@media only screen and (max-width: 1023px) {
    .profile-nav {
        flex-direction: column;
        /* Stack navigation items vertically */
        align-items: center;
        /* Center navigation items horizontally */
    }
}



/* For tablet and desktop devices */


@media only screen and (max-width: 457px){
    .profile-nav{
        display:flex;
        flex-direction: row;
        margin-left: 10px;
    }

        .about-section,
        .contact-section {
            padding: 33px 50px;
            margin-top: 40px;
        }
}

.dropdown {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

@media only screen and (max-width: 568px) and (min-width: 457px){
    .about-section,
        .contact-section {
            padding: 33px 50px;
            margin-top: 40px;
        }
}

.profile-buttons{
    margin-left: 400px;
}

